<div class="container">
    <h2 class="text-center">Welcome to join us</h2>
    <hr>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form' })  do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs col-sm-6 col-sm-offset-3">
            <%= f.input :email, required: true, autofocus: true, placeholder: "Email" %>
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder: "Password" %>
            <%= f.input :password_confirmation, required: true, placeholder: "Password"%>
        </div>

        <div class="form-actions col-sm-6 col-sm-offset-3">
            <%= f.button :submit, "Sign up", class: "btn btn-block btn-primary" %>
        </div>
        <% end %>
</div>
